
body {
    background: rgb(12,110,240);
    background: linear-gradient(180deg, rgba(12,110,240,1) 14%, rgba(50,134,239,1) 33%, rgba(154,200,236,1) 59%);
    font-family: 'itim';
    height: auto;
}

li{
    list-style-type: none;
}

a{
    color: white;
    letter-spacing: 1px;
}

a:hover{
  color: white;
}

/*************Caixa Pacotes****************/

#caixaPacotes{
    height: auto;
    background-color: #e1ebecb7;
    margin-bottom: 150px;
    margin-left: 100px;
    margin-right: 100px;
  }
  
  #caixaPacote{
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    margin-top: 120px;
    width: 25%;
  }
  
  #tituloPacotes{
    margin-top: 50px;
    color: white;
    font-size: 35pt;
    text-align: center;
    font-family: 'Jacques Francois Shadow', cursive;
  }
  
  #tituloPacotesSegundo{
    margin-left: 50px;
    color: white;
    font-size: 18pt;
    text-align: center;
    font-family: 'Itim', sans-serif;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  #pesquisaPacotes{
    background-color: white;
    width: 900px !important;
    display: flex !important;
    margin-left: 100px;
  }
  
  #destinosFiltro:hover{
    cursor: pointer;
  }
  
  
  
  #destinosFiltro{
    align-items: center;
    text-align: center;
    width: 25%;
    height: 70px;
    display: flex;
    justify-content: space-around;
  }
  
  #menuDestinoF{
    background-color: white;
    color: black !important;
    margin-top: -610px;
  }
  
  #pacotesCima{
    width: 100%;
    height: 250px;
  }
  
  #pacotesMeio{
    width: 100%;
    height: 150px;
    background-color: transparent;
  }
  
  #filtro{
    background-color: #0e70d1bd;
    margin: 5px auto;
    width: 1280px;
    border-radius: 10px;
  }
  

/***********************Slide preço ******************/

.nav-item{
  height: 60px;
  padding-top: 4px;
}

.price-input-container { 
    width: 100%; 
  } 
  
  .price-input .price-field { 
    display: flex; 
    margin-bottom: 22px; 
  } 
  
  .price-field span { 
    margin-right: 10px; 
    margin-top: 6px; 
    font-size: 17px; 
  } 
  
  .price-field input { 
    flex: 1; 
    height: 35px; 
    font-size: 15px; 
    font-family: "DM Sans", sans-serif; 
    border-radius: 9px; 
    text-align: center; 
    border: 0px; 
    background: #e4e4e4; 
  } 
  
  .price-input { 
    width: 100%; 
    font-size: 19px; 
    color: #555; 
  } 
  
  /* Remove Arrows/Spinners */
  input::-webkit-outer-spin-button, 
  input::-webkit-inner-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  } 
  
  .slider-container { 
    width: 100%; 
  } 
  
  .slider-container { 
    height: 6px; 
    position: relative; 
    background: #e4e4e4; 
    border-radius: 5px; 
  } 
  
  .slider-container .price-slider { 
    height: 100%; 
    left: 0%; 
    right: 85%; 
    position: absolute; 
    border-radius: 5px; 
    background: #013c94; 
  } 
  
  .range-input { 
    position: relative; 
  } 
  
  .range-input input { 
    position: absolute; 
    width: 100%; 
    height: 5px; 
    background: none; 
    top: -11px; 
    pointer-events: none; 
    cursor: pointer; 
    -webkit-appearance: none; 
  } 
  
  /* Styles for the range thumb in WebKit browsers */
  input[type="range"]::-webkit-slider-thumb { 
    height: 18px; 
    width: 18px; 
    border-radius: 70%; 
    background: #555; 
    pointer-events: auto; 
    -webkit-appearance: none; 
  } 
  
  @media screen and (max-width: 768px) { 
    .main { 
        width: 80%; 
        margin-right: 5px; 
    } 
  
    .custom-wrapper { 
        width: 100%; 
        left: 0; 
        padding: 0 10px; 
    } 
  
    .projtitle { 
        width: 100%; 
        position: relative; 
        right: 26px; 
    } 
  
    .price-input { 
        flex-direction: column; 
        align-items: center; 
    } 
  
    .price-field { 
        margin-bottom: 10px; 
    } 
  }  


a:hover{
    text-decoration: none;
}

.precoDesliza, .range-input{
    display: none;
}

.precoDesliza{
  margin-top: 40px;
  position: relative;
  height: 125px;
}

#dropMenuLocalizacao, #dropMenuData{
  color: black;
}

#dropMenuLocalizacao{
  width: 200px;
  font-size: 16pt;
  margin-left: 10%;
}

#procurar{
  width: 300px;
  color: white;
  background-color: #001F3F;
  position: relative;
  top: -75px;
  right: 50px;
  float: right;
  border: none;
  height: 50px;
  font-size: 15pt;
  border-radius: 3px;
}

#procurar:hover{
  color: black;
  font-weight: bold;
  cursor: pointer;
  animation: changeBackgroundColor 3s infinite;
}


@keyframes changeBackgroundColor {
  0% {
    color: white;
    background-color: #001F3F;
  }
  50% {
    color: black;
    background-color: #FF4136;
  }
  100% {
    color: white;
    background-color: #001F3F;
  }
}









.itemLocalizacao{
  font-size: 18pt;
}

.itemLocalizacao:hover{
    background-color: transparent !important;
    cursor: pointer;
}

.itemLocalizacao:active{
  background-color: transparent !important;

}

#campoDestinos{
    padding: 0px;
    border: none;
    text-align: center;
}

#campoDestinos:hover{
  cursor: pointer;
  background-color: #555;
}

#textoPreco{
  color: black;
  font-size: 13pt;
}

#caixaContentPacotes{
  background-color: #4490DC;
  height: auto;
  padding: 20px;
  margin: 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px gray;
  display: block;
}

#nomePacote{
  font-size: 20pt;
  color: white;
  text-align: center;
}

#dadosPacotes{
  height: auto;
}

.semPacotes{
  font-size: 20pt;
  color: white;
  text-align: center;
  background-color: #4490DC;
  height: 80px;
  padding: 20px;
  margin: 30px;
  border-radius: 10px;
}

#destinoViagem{
  color: #4490DC;
  text-align: center;
  background-color: white;
  border-bottom-left-radius: 5px;
  font-size: 15pt;
  border-bottom-right-radius: 5px;
  box-shadow: 10px 10px 10px black;
  height: auto;
}

#titDestinoViagem{
  color: #4490DC;
  text-align: center;
  background-color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 15pt;
  border-bottom: 2px solid gray;
  text-transform: uppercase;
  box-shadow: 10px 15px 10px black;
  height: auto;
}




#hotelTit{
  color: #4490DC;
  text-align: center;
  background-color: white;
  font-size: 15pt;
  border-bottom: 2px solid gray;
  text-transform: uppercase;
  box-shadow: 10px 20px 10px black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: auto;
}

#hotelNome{
  color: #4490DC;
  text-align: center;
  background-color: white;
  font-size: 15pt;
  box-shadow: 10px 15px 10px black;
  height: auto;
}

#hotelPreco{
  color: #4490DC;
  text-align: center;
  background-color: white;
  border-bottom-left-radius: 5px;
  font-size: 15pt;
  border-bottom-right-radius: 5px;
  box-shadow: 10px 10px 10px black;
  height: auto;
}






#botaoViagem{
  background-color: greenyellow;
  height: 50px;
  box-shadow: 0px 10px  green;
  color: black;
  text-align: center;
  border-radius: 5px;
  padding-top: 13px;
  font-weight: 800;
  text-transform: uppercase;
  font-family: "Muli", Arial, sans-serif;
}

#botaoViagem:hover{
  background-color: rgb(4, 199, 4);
  font-weight: bold;
  color: white;
  font-weight: 800;
  text-transform: uppercase;
  font-family: "Muli", Arial, sans-serif;
}

#botaoViagem:active{
  box-shadow: none;
  margin-top: 3px;
  margin-left: 3px;
  box-shadow: 0px 3px  green;
}