:root{
    --blue: #2782ff !important;
    --borda: rgb(189, 189, 189);
}

body{
  margin: 0px auto;
}


/***************Restaurantes************************/

#caixaR{
  background-color: rgb(11, 11, 114);
  margin: 100px;
  max-height: 1200px;
  max-width: 750px;
  overflow-y: auto;
  border-radius: 10px;
}

#titul{
  color:white;
  position: sticky; 
  top: 0; 
  z-index:10;
  background-color: rgb(11, 11, 114);
}

.precoR{
  
  background-color: #2782ff;
  color: white;
  height: auto;
  height: 50px;
  padding: 8px;
  font-size: 18pt;
}

#caixaDentro{
  background-color: #8ab9fc8e;
  display: flex; 
  align-items: center;
}


#caixaDentro:hover{
  border: 3px solid white;
}

#fundoRA{
  background-image: url(../images/fundoPal.png);
  height: 1500px;
}

#caixaA{
  
  background-color: rgb(11, 11, 114);
  max-height: 1200px;
  max-width: 750px;
  overflow-y: auto;
  border-radius: 10px;
  margin-top: 100px;
  margin-right: 140px;
}

/****************Individual**************/

/*************************Form Quantidade***************************/

#btnH{
  display: none;
}

#formHotel, #formViagens{
  display: none;
  z-index: 0;
}

#quanti, #quantiV{
  width: 500px;
  margin-top: -8%;
  border: 5px solid var(--blue);
  border-radius: 10px;
  height: 205px;
  margin-left: 35%;
  margin-right: 45%;
  z-index: 10;
  position: relative;
  background-color: var(--gray);
  display: none;
  box-shadow: 10px 10px 10px black;
}

#inputQuanti, #inputQuantiV{
  margin: 3% auto;
  width: 100%;
  height: 40px;
}

#labelQuanti, #labelQauntiV{
  width: 100%;
  font-size: 18pt;
  text-align: center;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-top: 2%;
}

#caixasHoteis{
  background-color: var(--blue);
  width: 90%;
  margin: 5% 5%;
  height: 450px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

#caixasHoteis:hover{
}

#tri1, #tri2{
  height: 50px;
  width: 50px;
  margin-top: 9%;
  background-color: white;
  transform: rotate(45deg);
}

#tri1{
  float: right;
  margin-right: -25px;
}

#tri2{
  float: left;
  margin-left: -25px;
}

#titsHoteis{
  background-color: white;
  color: black;
  text-align: center;
  padding: 15px;
  width: auto;
  height: 70px;
  font-size: 18pt;
  margin-top: -3%;
  margin-left: 43%;
  margin-right: 30%;
  border: 5px solid var(--blue);
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

#imgHoteis{
  width: 500px;
  height: 300px;
  display: flex;
  margin-left: 10%;
  border-radius: 10px;
  box-shadow: 10px 10px 10px black;
}

#caixaInfosHoteis{
  background-color: whitesmoke;
  width: 800px;
  height: 322px;
  display: flex;
  float: right;
  margin-top: -17%;
  margin-right: 5%;
  border-top-right-radius: 22px;
  border-top-left-radius: 22px;
  border: 3px solid white;
}

#infoEmails{
  height: 107px;
  border-top-left-radius: 20px;
  width: 100%;
  padding: 5px;
  background-color:#0c6ef0;
}

#tEmail{
  height: 55px;
  text-align: center;
  font-weight: bold;
  margin-top: 5px;
  text-transform: uppercase;
}

#dadosEmails{
  height: 55px;
  text-align: center;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  width: 100%;
}

#caixaEsqHotel{
  width: 50%;
  height: 320px;
}

#caixaDirHotel{
  width: 50%;
  height: 320px;
}

#btnSM{
  width: 100%;
  height: 70px;
  margin-top: 3%;
  border-radius: none;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#btnSM:hover{
  color: var(--success);
  background-color: white;
  border: 3px solid var(--success);
}
/***************************************************************************/

#linhaRec{
  height:100px; 
  font-size:20pt;
  text-align: center;
}


#linhaRec:hover{
  cursor: pointer;
  background-color: #2d466693;
}

#caixaHotelP{
  height: auto;
  background-color: #1f559c;
  margin: 30px;
  border-radius: 10px;
  margin-left: 100px;
  width: 900px;
  float: left;
} 


#caixaViagensP{
  background-color: #2782ff;
  border: 3px solid white;
  margin: 30px;
  border-radius: 10px;
  float: right;
  width: 1400px; 
}

#ativ{
  height: 70px;
  background-color: #1d1b9e;
  color: white;
  text-align: center !important;
  border-top: 3px solid white;
  padding: 17px;
  border-bottom: 3px solid white;
  width: 100%;
  font-size: 18pt;
}


footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

#eliminaProduto, #limparCarrinho{
  border-radius: 0px;
  width: 200px;
  margin: 10px;
}

#eliminaProduto:hover, #limparCarrinho:hover {
  animation: borda 2s infinite;
}


div::-webkit-scrollbar {
  width: 15px; /* Largura da barra de rolagem */
}

div::-webkit-scrollbar-thumb {
  background-color: #3498db; /* Cor da "thumb" (o botão que você arrasta) */
  border-radius: 15px; /* Borda arredondada da "thumb" */
}

div::-webkit-scrollbar-track {
  background-color: #185075a4; /* Cor do fundo da barra de rolagem */
}