
/*********************Lista Viagens*****************/

#caixaViagens{
    width: 40%;
    border: 5px solid var(--blue);
    height: 630px !important;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 2%;
    margin-bottom: 4%;
    border-radius: 20px;
    box-shadow: 10px 10px 10px var(--blue);
  }
  
  #caixaViagemUni{
    width: 80%;
    border: 5px solid var(--blue);
    height: 630px !important;
    margin-left: 9%;
    margin-right: 6%;
    margin-top: 3%;
    margin-bottom: 4%;
    border-radius: 20px;
    box-shadow: 10px 10px 10px var(--blue);
  }
  
  #tituloViagens{
    width: 100%;
    height: 50px;
    background-color: var(--blue);
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    padding-top: 1px;
    font-size: 20pt;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom:5px solid white;
  }
  
  #caixaDireitaViagens{
    float: right;
    width: 46%;
    background-color: var(--blue);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-left: 4%;
    margin-top: 20px;
  }
  
  #caixaEsquerdaViagens{
    float: left;
    width: 46%;
    background-color: var(--blue);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;  
    margin-right: 4%;
    margin-top: 20px;
  }
  
  #campoDirTit, #campoEsqTit{
    width: 100%;
    padding: 8px;
    text-align: center;
    letter-spacing: 1px;
    color: white;
    height: 40px;
    margin-top: 10px;
  }
  
  #campoDirDados, #campoEsqDados{
    width: 100%;
    padding: 8px;
    text-align: center;
    letter-spacing: 1px;
    color: black;
    background-color: white;
    height: 50px;
  }
  
  #btnViagens, #back{
    width: 50%;
    height: 70px;
    margin-top: 2%;
    margin-left: 25%;
    border-radius: none;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 3px solid var(--blue);
    border-radius: 10px;
    box-shadow: 10px 10px 10px var(--blue);
  
  }
  
  #btnSMV, #btnHotel{
    width: 50%;
    height: 70px;
    margin-top: 3%;
    margin-left: 25%;
    border-radius: none;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 3px solid var(--blue);
    border-radius: 10px;
    box-shadow: 10px 10px 10px var(--blue);
  }
  
  #btnH{
    width: 500px;
    height: 70px;
    margin-top: -5%;
    margin-left: 35%;
    border-radius: none;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;  
    border-radius: 10px;
    z-index: 9999;
    position: relative;
    box-shadow: 10px 10px 10px var(--blue);
    border: 3px solid var(--blue);
  }
  
  #btnV{
    width: 500px;
    height: 70px;
    margin-top: -4%;
    margin-left: 35%;
    border-radius: none;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 10px;
    z-index: 9999;
    position: relative;
    box-shadow: 10px 10px 10px var(--blue);
    border: 3px solid var(--blue);
  }
  
  #btnSMV:hover, #btnH:hover, #btnHotel:hover, #btnViagens:hover{
    color: var(--success);
    background-color: white;
    border: 3px solid var(--success);
    box-shadow: 10px 10px 10px var(--success);
  }
  
  #btnV{
    display: none;
  }